$background-color: #1C531C;
$button-color: #D8A030;
$font-family: "Open Sans", sans-serif;
$font-medium: 500;
$font-bold: 700;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.552);

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin card-size{
  width: 190px;
  height: 290px;
}
@mixin card-face-base{
  position: absolute;
  backface-visibility: hidden;
  @include card-size();
}

//======================================

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: noscroll;
}

body{
  background-color: $background-color;
  color: white;
  font-family: $font-family;
  main{
    margin: 20px;

  }
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
  #gameRules{
    h2{
      font-size: 28px;
    }
    h4{
      font-weight: $font-medium;
    }
  }
}

#game-container{
 @include flex-center;
 @include flex-column;
  margin-top: 30px;

  #thegame{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
    gap: 15px;
    perspective: 1000px;
    justify-items: center;
   .card {
      position: relative;
      @include card-size();
      @include flex-center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      transition: transform 0.5s;
  
      &.flipped{
        transform: rotateY(180deg);
      }
      
      &:active{
        transform: scale(0.98);
      }
      
      .card-face {
        position: absolute;
        width: 190px;
        height: 290px;
        backface-visibility: hidden;
      }
      
      .front-face{
        width: 170px;
        height: 250px;
        border-radius: 10px;
        transform: rotateY(180deg);
        background-color: white;
        
        h2{
          font-size: 80px;
          text-align: center;
          margin-top: 75px;
     
       
        }
      }
      .back-face{
        background-image: url(/src/img/playing-card-canva.png);
        background-size: cover;
      }
  
}

}
  }
  
#results{
    margin: 30px;
    font-size: 30px;
    font-weight: $font-medium;
  }
button{
 margin: 20px;
 padding: 20px 30px;
font-size: 20px;
background-color: $button-color;
border: none;
border-radius: 10px;
cursor: pointer;
font-weight: $font-bold;
color: white;
box-shadow: $shadow;
&:hover{
  background-color: #deba71;
}
}