$background-color: #1C531C;
$button-color: #D8A030;
$font-family: "Open Sans", sans-serif;
$font-medium: 500;
$font-bold: 700;

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: $background-color;
  color: white;
  font-family: $font-family;
  main{
    margin: 40px;

  }
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#game-container{
  display: flex;
  flex-direction: column;
 
}

button{
  max-width: 200px;
  font-size: 20px;
}